/*
Theme Name:   Accelerate Theme Child
Theme URI:    http://example.com/accelerate-theme-child/
Description:  Accelerate Child Theme - Accelerate
Author:   	Your Name!
Author URI:   http://example.com
Template: 	accelerate-theme
Version:      2.0.0
Tags:     	light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  accelerate-theme-child
*/

/* Front Page Styles */

.home-page {
  background: url("img/taxi-photo.jpg") no-repeat scroll right center / cover rgba(0, 0, 0, 0);
  margin: 0 0 3em;
}
#masthead {
  background: none repeat scroll 0 0 #45ac9d;
}
.button {
	background: none repeat scroll 0 0 #45ac9d;
}
.site-content > h4 {
  text-align: center;
  text-transform: uppercase;
  margin: 2em auto;
}
ul {
  list-style: none;
  margin: 0;
}

/* Homepage Featured Work */

.featured-work .site-content {
  margin: 60px auto 0;
}
ul.homepage-featured-work {
  display: flex;
  justify-content: space-between;
}
li.individual-featured-work {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.individual-featured-work > h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px auto;
  font-size: 0.8em;
}

/* Homepage Our Services */

.our-services .site-content {
  margin: 60px auto 0;
}
ul.homepage-our-services {
  display: flex;
  justify-content: space-between;
}
li.homepage-individual-services {
  display: flex;
  flex-direction: column;
  width: 24%;
}
.homepage-individual-services > h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px auto;
  font-size: 0.8em;
}

/* Recent Items */

.recent-items .site-content {
  margin: 60px auto 0;
  display: flex;
  justify-content: space-between;
}

/* Homepage Blog Post */

.blog-post {
  flex: 0 1 47%;
}
.blog-post h4 {
	font: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
	color: #a6a6a6;
	text-transform: uppercase;
	margin: 2em 0 .5em;
}
.blog-post h3 {
	font-size: 1.5em;
}
.read-more-link {
  font: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
	color: #45ac9d;
	text-transform: uppercase;
}

/* Homepage Twitter Module */

.widget-title {
  display: none;
}
.stt-em a {
  display: none;
}

/* Work Page Case Studies */

.case-study {
    clear: both;
}
.case-study h2 {
    font: 700 1.5em/1.5 'Open Sans Semibold';
}
.case-study h4 {
    font: 400 .875em/1.25 'Open Sans';
    margin: 1em 0;
}
.case-study h4 span {
    color: #878787;
}
.case-study-sidebar p {
    margin: 2em 0;
}
div.case-study-images {
	margin-top: 3em;
}
div.case-study-images img {
    width: 100%;
	margin-bottom: 3.125em;
	border: 1px solid #dddddd;
}

/* Footer Social Media Menu */

.social-media-navigation ul {
  list-style: none;
  display: flex;
  float: right;
}
.social-media-navigation li a {
  color: #ffffff;
}
.social-media-navigation li {
  background-color: #2b2d2f;
  display: flex;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

/* Contact Us Page */

.contact-us {
  width: 600px;
  margin: auto;
}
.ninja-forms-req-symbol {
  display: none;
}
.nf-form-fields-required {
  display: none;
}
#nf-field-1 {
  background: #ffffff;
}
#nf-field-2 {
  background: #ffffff;
}
#nf-field-3 {
  background: #ffffff;
}
#nf-field-4 {
  background: #45ac9d;
  padding-left: 70px;
  padding-right: 70px;
  float: right;
}

/* About Page */

div#primary.home-page.hero-content.about {
  padding: 3em 0;
}
.about .main-content {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 960px;
  margin: auto;
  padding: 0;
}
.about h3 {
  font-size: 1.4em;
  width: 55%;
  margin: auto;
}
.about-subheading {
  width: 55%;
  margin: 50px auto;
}
.about-subheading h4 {
  text-align: center;
  text-transform: uppercase;
}
.about-subheading p {
  text-align: center;
}
ul.about-services {
  display: flex;
  flex-direction: column;
}
li.individual-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}
.individual-services-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.individual-services-text {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  max-width: 66%;
  text-align: left;
}
.individual-services-text h3{
  font-family: 'Open Sans';
  font-size: 1.4em;
  font-weight: 600;
  margin: auto 0;
}
.individual-services:nth-child(even) {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.contact-us-button {
  border-top: 1px solid #bfbfbf;
  width: 100%;
  margin: 50px auto 0;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  font-size: 1.2em;
}
.contact-us-button h2 {
  margin: 2em .25em 1em;
  line-height: 1;
  text-align: center;
}

/* Blog Page */

#mc4wp-form-1 > div.mc4wp-form-fields > p:nth-child(2) > input[type=submit] {
  background: #45ac9d;
  padding: .5em 3.75em;
}
#sidebar .widget_search {
  border-top: 1px solid #BFBFBF;
}

/* 404 Page */
.error h1 {
 text-align: center;
 font-family: 'Londrina Solid', 'Montserrat', 'Open Sans', Arial, sans-serif;
}
.error a {
  display: none;
}

/* Media Queries */

@media screen and (max-width: 760px) {
  ul.homepage-featured-work {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  li.individual-featured-work {
    width: auto;
    align-items: center;
  }
  ul.homepage-our-services {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  li.homepage-individual-services {
    width: auto;
    align-items: center;
  }
  .recent-items .site-content {
    flex-direction: column;
  }
  .blog-post {
    margin-bottom: auto;
  }
  .blog-post h3 {
    margin: 0;
  }
  .about-subheading {
    margin: auto;
  }
  li.individual-services {
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
  }
  li.individual-services:nth-child(even) {
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
  }
  .individual-services-text {
    text-align: center;
    align-self: center;
  }
  .individual-services-text h3{
    margin: 20px auto 0;
  }
  .contact-us-button {
    flex-wrap: wrap;
  }
  aside.case-study-sidebar {
   float: left;
   width: 34%;
   margin: 0 6% 0 0;
  }
  div.case-study-images {
    float: left;
    width: 60%;
  }
}
